<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mxdl.customview">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.mxdl.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".bitmap.test.TestCacheActivity"></activity>
        <activity android:name=".TestAsyncTaskActivity" />

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.test.provider"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <service
            android:name=".service.TestService1"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".TestServiceActivity" />
        <activity android:name=".WindowManagerActivity" />
        <activity android:name=".test.view1.SticyLayout2Activity" />
        <activity android:name=".test.view1.ExpandableListView2Activity" />
        <activity android:name=".test.view1.ViewPagerTest2Activity" />
        <activity
            android:name=".test.CoordinatorLayoutTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".test.ViewPagerTestActivity" />
        <activity android:name=".test.MainTestActivity" />
        <activity android:name=".test.ScrollTestActivity" />
        <activity android:name=".test.SmoothScrollTestActivity" />
        <activity android:name=".CaptureRectViewActivity" />
        <activity android:name=".CaptureCricleViewActivity" />
        <activity android:name=".CaptureSquareViewActivity" />
        <activity android:name=".PinnedHeaderActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StickyLayoutActivity" />
        <activity android:name=".HorizontalScrollViewExActivity" />

        <service android:name=".service.TestService" />
        <service android:name=".thread.MyIntentService" />
    </application>

</manifest>